
.spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25;
}
.barracursos{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25;
}
table {
  width: 100%;

}

